# Dependencias
/node_modules

# Archivos generados por el entorno de desarrollo
/.env
/.env.*
/.vscode
/.idea
/.DS_Store

# Logs y archivos de registro
/logs
*.log

# Archivos de compilación
/dist
/build

# Archivos de respaldo
*.bak
*.swp
*.tmp

# Otros archivos y directorios
/.cache
/.npm
/.yarn
/.pnp.*